.navbar {
  width: 100%;
  height: 50px;
  background-color: #1d1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.navbar .logo span {
  color: white;
  font-size: 21px;
  font-weight: 500;
}

.navbar .right-side {
  display: flex;
  align-items: center;
}

.navbar .right-side .profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 25px;
}

.navbar .right-side .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar .right-side .profile .user-infos {
  color: white;
  display: flex;
  flex-direction: column;
}

.navbar .right-side .profile .user-infos p {
  font-size: 12px;
}

.navbar .right-side .logout {
  padding: 15px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .right-side .logout:hover {
  background-color: #eb2c2c;
  border-radius: 50%;
}

@media screen and (max-width: 400px) {
  .navbar .logo span {
    font-size: 15px;
    font-weight: 200;
  }

  .navbar .right-side .profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
